{% extends 'base.html' %} {% block header-footer %} <div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Recent Blogs</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 shadow"> {% for item in context %} <div
      class="feature col shadow-sm">
      <div
        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <img class="" src="{{item.image.url}}" alt="" style="width: 100%; border-radius: 5px;" />
      </div>
      <h3 class="fs-4">{{item.title}}</h3>
      <p class="text-muted"> by {{item.author.first_name}} | published on: {{item.published_date}} <br />
      </p>
      <p {{item.content|slice:"100"|safe}} </p>
        <a href="{% url 'crud_app:blog_detail' item.title%}" class="icon-link d-inline-flex align-items-center"> Read
          More <svg class="bi" width="1em" height="1em">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
    </div> {% endfor %} </div>
</div> {% endblock header-footer%}