{% extends 'base.html' %} {% block header-footer %}
<!-- ------------- New Styling ------------- -->
<!-- <div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Recent Blogs</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start"> {% for item in context %} <div>
        <img class="" src="{{item.image.url}}" alt="" style="width: 100%; border-radius: 5px;" />
        <h4 class="fw-bold mb-0">{{item.title}}</h4>
        <p class="text-muted"> by {{item.author.first_name}} | published on: {{item.published_date}} <br />
        <p>{{item.content|slice:"100"|safe}}</p>
        <a href="{% url 'crud_app:blog_detail' item.title%}" class="icon-link d-inline-flex align-items-center"> Read
          More <svg class="bi" width="1em" height="1em">
      </div> {% endfor %} </div>
  </div>
</div>  -->
<!-- ---------- MORE NEW STYLING ---------- -->
<div class="container px-4 py-5shadow" id="hanging-icons">
  <h2 class="pb-2 border-bottom">Latest Blogs</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 "> {% for item in context %}<div
      class="col d-flex align-items-start p-1">
      <div>
        <div class="icon-square text-dark flex-shrink-0 me-3 bg-light">
          <img class="" src="{{item.image.url}}" alt="" style="width: 100px; border-radius: 5px; display: inline;" />
          <h2 class="fs-6" style="display: inline; padding: 5px;">{{item.title}}</h2>
        </div>
        <p>{{item.content|slice:"100"|safe}}</p>
        <a href="{% url 'crud_app:blog_detail' item.title%}" class="btn btn-success mb-3 shadow">Read More </a>
      </div>
    </div> {% endfor %} </div>
</div> {% endblock header-footer %}